@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
body {
  padding: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #e66465, #9198e5) no-repeat center;
  background-size: contain;
  height: 100vh;
}
.quiz-container {
  background-color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.734);
  height: max-content;
  border-radius: 10px;
}
.quiz-container p {
  margin: 10px 0;
}
#answer-list {
  text-align: start;
  margin-top: 5px;
  list-style-type: none;
}
#answer-list li {
  margin-bottom: 10px;
}
#answer-list li:hover,
label:hover {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
}
.hide {
  display: none;
}
.bg {
  background-color: rgb(144, 238, 144);
}
button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-weight: 600;
}
